.Footer {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.Footer-content {
  position: absolute;
  right: 5px;
  font-size: medium;
}

.Footer-logo {
  animation: Footer-logo-spin infinite 20s linear;
  height: 20px;
}

@keyframes Footer-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#reactLink {
  color: #00d8ff;
}
